*{
    margin: 0;
    padding: 0;
    font-family: 'arial';
}

header {
    width: 100%;
    height: 90px;
    float: right;
    background-color: #080748;
    opacity: 90%;
}

.headeramarillo{
    width: 30%;
    height: 90px;
    float: left;
    background-color:silver;
}
.logo {
    width: 5.5em;
    margin-top: -1px;
    margin-right: 29em;
    float: left;
    margin-left: 20em;
}

.nav{
    float: left;
    margin-left: 170px;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav a{
    text-decoration: none;
    color: white;
    margin-right: 70px;
    font-size: 15px;
    margin-left: 50px;
}

.nav a:hover{
    color: deepskyblue;
    transition: 0.4s;
}

.subGrados{
    background-color:#3634C3;
    font-size: 1em;
    width: 9em;
    height: 8.8em;
    display: none;
    float:inherit;
    color: #ffffff;
    margin-top: 1em;
    margin-left: 0em;
    opacity: 70%;
}

.subGrados li{
    margin-top: 0.6em;
    margin-left: 0.1em;
}

.carreras:hover .subGrados{
    display: block;
    list-style: none;
}

.subGrados li:hover{
    color: #ffffff;
    transition: 0.5s;
    background-color: cornflowerblue;
    opacity: 90%;
    font-size: 1.1em;
}